@import "../node_modules/ui-styles/variables.less";

:host {
  display: block;


  grid {
    display: block;
    height: 100%;
    font-family:arial;
    border: solid .1em rgb(226, 226, 226);

    grid-body {
      display: block;
    }

    grid-row {
      display:block;
      box-sizing: border-box;
      border: solid .1em rgb(226, 226, 226);
      border-top: none;
    }
  }

  grid-header /deep/ grid-header-item {
    display:block;
    padding: @pad;
    box-sizing: border-box;
    overflow: hidden;
  }

  core-list {
    height: 100%;
  }
}
